.profileform {
  height: fit-content;
}

.profileform__details {
  height: 40rem;
}

.profileform__table {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 0;
  align-items: center;
  height: 100%;
  width: 70%;
  font-size: 1.8rem;
  font-weight: lighter;
  color: var(--text-color);
}

.profileform__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-left: 1px solid rgba(21, 23, 23, 0.2);
  padding-top: 5%;
  width: 30%;
  left: 70%;
  z-index: 0;
}

.profileform__avatar--img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--primary-color);
}

.profileform__avatar--overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
}

.profileform__avatar--preview {
  background-color: white;
  position: relative;
  animation: modalFadeIn ease 0.5s;
  content: "Chọn ảnh";
  flex-direction: column;
  display: flex;
}

.profileform__avatar--preview--button {
  top: 70%;
  background-color: var(--primary-color);
}

.profileform__table--left {
  width: 25%;
  filter: opacity(0.6);
  text-align: right;
}

.profileform__table--right {
  font-size: 1.5rem;
  height: 3rem;
  padding-left: 2rem;
}

.noborder {
  border: none;
}

.profileform--link {
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 1.5rem;
  width: 1.5rem;
  position: relative;
  left: 2rem;
}

/* name field input */
.profileform--nameinput {
  padding: 1rem;
  width: 97%;
}

/* input button */
.profileform__button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 1px;
  height: 4rem;
  width: 8rem;
  cursor: pointer;
}

.profileform__button:hover {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.avatar__btn {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--white-color);
  color: var(--white-color);
}

.avatar__btn:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.profileform__table__row {
  position: relative;
  width: 100%;
  height: 5rem;
}

.profileform__table__row td {
  font-weight: normal;
}

/* avatar button */
.profileform__avatar--button {
  margin: 20px 0 10px 0;
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 1.5rem;
  border-radius: 1px;
  height: 4rem;
  width: 8rem;
  cursor: pointer;
}

.profileform__avatar--button:hover {
  background-color: var(--primary-color);
  border: none;
  color: white;
}

/* sex radio button */
.radio-input label {
  margin-right: 2rem;
}

.radio-input {
  height: 55px;
  display: flex;
  align-items: center;
}

.radio-input input {
  appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}

.radio-input input:hover {
  cursor: pointer;
}

.radio-input .circle {
  position: relative;
  left: -1.2rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--primary-color);
  scale: 0;
  border-radius: 50%;
}

.radio-input input {
  border: 1px solid rgba(21, 23, 23, 0.2);
}

.radio-input input:checked {
  border: 1px solid var(--primary-color);
}

.radio-input input:checked+.circle {
  scale: 1;
}