.profileform {
  width: 50vw;
  height: 50vh;
  border-radius: 1px;
}
.profileform__details {
  width: 50vw;
  height: fit-content;
  max-height: calc(50vh - 6rem);
  overflow-y: auto;
}
.profileform__title__item {
  font-size: 2rem;
}
.profileform__title {
  padding-left: 3rem;
  display: flex;
  align-items: center;
  height: 6rem;
  border-bottom: solid 0.5px rgba(21, 23, 23, 0.2);
}
