.slideCarousel {
  padding: 10px;
  width: 1200px;
}

.slideCarousel__item {
  border-radius: 10px;
  margin: 0 10px;
  border: 1px solid #e2e0e0;
  padding: 5px 10px;
}
.slideCarousel__item img {
  margin: 0 auto;
  border-bottom: 1px solid #c1bdbd;
}


.slideCarousel__item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slideCarousel__desc {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: purple;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slideCarousel button {
  /* background-color: purple; */
  color: purple;
}

.slideCarousel__desc-title {
  margin: 15px 0;
  color: #5d58a1;
  font-weight: 600;
}

.slideCarousel__desc-Des {
  margin: 15px 0;
  color: #ea6f73;
  font-weight: 600;
}

.slideCarousel__desc-price {
  margin: 15px 60px;
  height: 2.8rem;
  line-height: 2.8rem;
  align-items: center;
  min-width: 130px;
  font-size: 1.6rem;
  border-radius: 20px;
  background-color: #cb1c22;
  color: #fff;
}

/* .slideCarousel__desc-price span {
  height: 2.4rem;
  min-width: 130px;
  font-size: 1.6rem;
  border-radius: 15px;
  background-color: #cb1c22;
  color: #fff;
} */

.slideCarousel__desc button {
  margin: 0 auto;
  background-color: #5d58a1;
  padding: 10px 15px;
  color: #fff;
  border: none;
}

.slideCarousel__desc-btn {
  
}






/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */




/* @layer base{
  .slideCarousel {
    background-color: #fff;
  }
}

.slick-slide > div {
  margin: 0 10px;

}

.slick-slide img {
  margin: 0 auto;
} */

/* .slick-dots li.slick-active button:before {
  color:orange !important;
} */