.passform__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.8rem;
  color: var(--text-color);
}
.passform__table__row {
  height: 6rem;
}
.passform__table--left {
  filter: opacity(0.6);
}
.passform__table--right {
  width: 60%;
  font-size: 1.5rem;
  padding-left: 2rem;
}
/* password field input */
.passform--passinput {
  width: 100%;
  padding: 0.5rem;
}

/* input button */
.passform__button {
  margin: 20px 0 10px 0;
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 1px;
  height: 4rem;
  width: 10rem;
  cursor: pointer;
}
