/* .product_detail {
    margin-top: 30px;
    margin-top: -20%;
    align-items: center;
    padding: 30px 40px;
    width: 100%;
    height: 120%;
    position: fixed;
    z-index: 2;
    background: rgba(0, 0, 0, 0.24);
} */

.product_detail .container {
    margin: 40px 0;
    /* margin-left: 8%; */
    position: relative;
    width: 100%;
    /* height: 550px; */
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_detail .container .closebtn {
    right: 30px;
    position: absolute; 
    border: none;
    outline: none;
    background: none;
    font-size: 2.4rem;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    cursor: pointer;
    align-items: center;
}

.product_detail .container .productbox {
    max-width: 100%;
    display: flex;
    padding: 20px 30px;
    /* margin-top: 20px; */
    justify-content: space-between;
}

.product_detail .container .productbox .img-box {
    /* padding: 20px 30px; */
    width: 320px;
    height: 320px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.productbox .img-box img {
    width: 300px;
    height: 300px;
    /* padding-right: 20px; */
}

.productbox .detail {
    margin-left: 30px;
    margin-top: 10px;
    width: 700px;
}

.product_detail .container .productbox .detail h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
}

.product_detail .container .productbox .detail h2 {
    margin-top: 20px;
    font-size: 32px;
    color: #010f1c;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.product_detail .container .productbox .detail p {
    margin-top: 10px;
    color: #4a4a4a;
}

.product_detail .container .productbox .detail h3 {
    margin-top: 10px;
    color: #010f1c;
    font-size: 32px;
    letter-spacing: 1px;
}

.product_detail .container .productbox .detail button {
    margin-top: 30px;
    padding: 15px 60px;
    font-size: 16px;
    color: #fff;
    background: #010f1c;
    transition: 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

.product_detail .container .productbox .detail button:hover {
    background: var(--primary-color);
}