.product_detail .container {
    margin: 40px 0;
    position: relative;
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_detail .container .closebtn {
    right: 30px;
    position: absolute;
    border: none;
    outline: none;
    background: none;
    font-size: 2.4rem;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    cursor: pointer;
    align-items: center;
}

/* ẢNH SẢN PHẨM VÀ CHI TIẾT SẢN PHẨM */
.product_detail .container .productbox {
    max-width: 100%;
    display: flex;
    /* padding: 20px 30px; */
    justify-content: space-evenly;
}

/* .box__image {
    width: 50%;
} */



.product_detail {
    width: 1;
}

.product_detail .container .productbox .img-box {
    width: 430px;
    height: 420px;
    background: url('../../../public/img/khungsp_slider.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    /* background-color: rgba(245, 245, 245, 1); */
    background-color: var(--white-color);
    z-index: 1;
    margin-top: 15px;
}

.img-box__real {
    width: 70% !important;
    height: auto !important;
    /* Tự động điều chỉnh chiều cao để giữ tỷ lệ khung hình ban đầu */
    /* width: 350px ;
    height: 350px; */
    z-index: -1 !important;
}

.box__image .box__image-select {
    display: flex;
    margin-top: 10px;
}

.color-option {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #000;
  }

.img-box .color-option.selected {
    border: 2px solid #f00;
}

/* .container .productbox .img-box::before {
    content: "";
    background: url('../../../public/img/khungsp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
} */

.productbox .detail {
    margin-left: 30px;
    margin-top: 10px;
    width: 700px;
}

.product_detail .container .productbox .detail h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
}

.product_detail .container .productbox .detail h2 {
    margin-top: 20px;
    font-size: 32px;
    color: #010f1c;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.product_detail .container .productbox .detail p {
    margin-top: 10px;
    color: #4a4a4a;
    font-size: 1.4rem;
}

.product_detail .container .productbox .detail h3 {
    margin-top: 10px;
    color: #010f1c;
    font-size: 32px;
    letter-spacing: 1px;
}

.product_detail .container .productbox .detail button {
    margin-top: 30px;
    padding: 15px 60px;
    font-size: 16px;
    color: var(--primary-color);
    background-color: #ede9e9;
    transition: 0.5s;
    border: 1px solid var(--primary-color);
    outline: none;
    cursor: pointer;
}

.product_detail .container .productbox .detail button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}


/* TABLE CHI TIẾT SẢN PHẨM */

.detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    behavior: scroll;
}

.table__head-title th,
.table__head-body td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table__head-title th {
    background-color: #f2f2f2;
}