.product_detail .container {
    margin: 40px 0;
    position: relative;
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_detail .container .closebtn {
    right: 30px;
    position: absolute;
    border: none;
    outline: none;
    background: none;
    font-size: 2.4rem;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    cursor: pointer;
    align-items: center;
}

/* ẢNH SẢN PHẨM VÀ CHI TIẾT SẢN PHẨM */
.product_detail .container .productbox {
    max-width: 100%;
    display: flex;
    /* padding: 20px 30px; */
    justify-content: space-evenly;
}


/* .box__image {
    width: 50%;
} */


/* PHẦN THÔNG TIN MÔ TẢ CHI TIẾT CỦA SẢN PHẨM */
.product_detail {
    width: 1;
}

.product_detail .container .productbox .img-box {
    width: 430px;
    height: 420px;
    background: url('../../../public/img/khungsp_slider.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    /* background-color: rgba(245, 245, 245, 1); */
    background-color: var(--white-color);
    z-index: 1;
    margin-top: 15px;
}

.img-box__real {
    width: 70% !important;
    height: auto !important;
    /* Tự động điều chỉnh chiều cao để giữ tỷ lệ khung hình ban đầu */
    /* width: 350px ;
    height: 350px; */
    z-index: -1 !important;
}

.box__image .box__image-select {
    display: flex;
    margin-top: 10px;
    height: 88px;
    align-items: center;
}

.color-option {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #000;
  }

.img-box .color-option.selected {
    border: 2px solid #f00;
    width: 50px;
    height: 50px;
}

.color-option .box__image-select-choose {
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-color);
    content: 'vàng';
}

/* .container .productbox .img-box::before {
    content: "";
    background: url('../../../public/img/khungsp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
} */


/* BẢNG THÔNG TIN MÔ TẢ CHI TIẾT CỦA SẢN PHẨM */
.productbox .detail {
    margin-left: 30px;
    margin-top: 10px;
    width: 700px;
}



.detail .detail__shopName-link {
    display: flex;
    align-items: center;
    height: 2.8rem;
    line-height: 2.8rem;
}

.detail .detail__shopName, .detail__shopName-icon {
    font-size: 2.8rem;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    margin-right: 5px;
    height: 2.8rem;
    line-height: 2.8rem;
}

.product_detail .container .productbox .detail h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
}

.product_detail .container .productbox .detail h2 {
    margin-top: 20px;
    font-size: 32px;
    color: #010f1c;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    line-height: 32px;
}

/* gia tien */
.product__price {
    line-height: 40px;
    font-size: 3.2rem;
    height: 40px;
    font-weight: 800;
    color: var(--white-color);
    background-color: var(--primary-color);
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    width: 250px;
    text-align: center;
    border-radius: 20px;
    
    
}

.product_detail .container .productbox .detail p {
    margin-top: 10px;
    color: #4a4a4a;
    font-size: 1.4rem;
}

.product_detail .container .productbox .detail h3 {
    margin-top: 10px;
    color: #010f1c;
    font-size: 32px;
    letter-spacing: 1px;
}

.product_detail .container .productbox .detail button {
    margin-top: 30px;
    padding: 15px 60px;
    font-size: 16px;
    color: var(--white-color);
    /* background-color: #ede9e9; */
    background-color: var(--primary-color);
    transition: 0.5s;
    border: 1px solid var(--white-color);
    outline: none;
    cursor: pointer;
}

.product_detail .container .productbox .detail button:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}


/* TABLE CHI TIẾT SẢN PHẨM */

.detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    behavior: scroll;  
}

.table__head-title th,
.table__head-body td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
}

.table__head-title th {
    background-color: #f2f2f2;
    text-transform: uppercase;
    
}

/* comment */
.container__comment {
    display: flex;
    margin-top: 20px;
}



.container__comment-item {
    
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  margin-top: 20px;
  background-color: #f8f9fa;
}

.comment-item__head {
    display: flex;
    align-items: center; 
 }

.container__comment-item-img {
    align-items: center;
}

.container__comment-item-img .comment__avatar {
    width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment__content {
    flex: 1;
}

.comment__content-user-info {
display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.user-info-username {
    font-weight: bold;
    font-size: 1.4rem;
}

.user-info-timestamp {
    color: var(--text-color);
    font-size: 1.4rem;
}

.comment__content-rating {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.comment__content-text {
    margin: 0;
    font-size: 1.4rem;
    color: black;
    flex: 1;
    margin-top: 10px;
}
