.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: #fff;
}

.footer__heading{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
    text-transform: uppercase;
    margin: 15px 0;
}

.footer__list{
    padding-left: 0;
}

.footer-item{
    list-style: none;
    margin: 8px 0;
}

.footer-item__link{
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    color: #757575;
    padding: 2px 0;
    display: flex;
}

.footer-item__link:hover{
    color: var(--primary-color);
}

.footer-item__icon{
    font-size: 1.6rem;
    margin-top: -1px;
    margin-right: 4px;
}

.footer__download{
    display: flex;
    justify-content: space-between;
}

.footer__download-qr{
    width: 88px;
    height: 88px;
    border: 1px solid var(--border-color);
}

.footer__download-apps{
    flex: 1;
    margin-left: 16px;
    /* căng cho item nằm vào chính giữa tính theo cột */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img{
    display: block;
    height: 15px;
}

.footer__download-app-link{
    text-decoration: none;
    color: transparent;
}

.footer__bottom{
    background-color: #F5F5F5;
    padding: 16px 0;
    margin-top: 36px;
}

.footer__text{
    text-align: center;
    font-size: 1.4rem;
    color: #757575;
    margin: 0;
}