
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto' ,sans-serif;
    box-sizing: border-box;
}

/* --------SẢN PHẨM NỔI BẬT------------- */

.product_type
{
    margin: 68px 0px 56px 0;
    width: 100%;
    background-color: var(--white-color);
    padding: 30px 0 40px;
    border-radius: 15px;
}

.product_type .product_item_name {
    font-size: 3.2rem;
    color: #010f1c;
    margin-bottom: 20px;
    line-height: 32px;
    margin-left: 20px;
}

/* -----------PHẦN ABOUT GIỚI THIỆU VỀ CÁC DỊCH VỤ NỔI BẬT CỦA WEB------------ */
.about
{
    padding: 40px 10px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 15px;
}
.about .container
{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.about .container .box
{
    padding: 10px 20px;
    display: flex;
    background-color: var(--primary-color);
    width: 270px;
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: space-evenly;
}
.about .container .box .icon
{
    color: #e44c8c;
    font-size: 32px;
    margin-top: 10px;
}
.about .container .box .detail
{
    margin-top: 10px;
    margin-left: 10px;
}
.about .container .box .detail h2
{
    color: #fff;
    line-height: 1.4;
}

.about .container .box .detail p
{
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.2;
}

/* -----DANH SÁCH CÁC SẢN PHẨM TRANG CHỦ------ */

.product {
    margin: 32px 0 48px 0;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 15px;
    /* padding: 0 15px; */
}

.product .product_item_name {
    font-size: 3.2rem;
    color: #010f1c;
    margin-bottom: 20px;
    line-height: 32px;
    padding: 30px 0 10px 10px;
}

.product .container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.product .container .box {
    padding: 10px 20px;
    overflow: hidden;
    width: 280px;
    /* width: 24%;  */
    /*288px*/
    /* margin-left: 6px;
    margin-right: 6px; */
    margin:0 10px 20px 10px;
    height: 428px;
    border: 2px solid #e2e0e0;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 15px;

    position: relative;
    background-color: var(--white-color);
    justify-content: space-between;
}

.product .container .box:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product .container .box .img_box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;
    align-items: center;
    position: relative;
    text-align: center;
}

.product .container .box .img_box .product-main__item {
    width: 240px !important;
    height: 240px !important;
    margin-right: 50px;
    text-align: center;
}

.product .container .box .img_box .icon {
    z-index: 1;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: 0.5s;
}

.product .container .box .img_box:hover .icon {
    transform: translateX(-130px);
}

.product .container .box .img_box .icon li {
    list-style: none;
    padding: 10px 10px;
    color: #010f1c;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: 0.5s;
    font-size: 1.8rem;
}

.product .container .box .img_box .icon li:hover {
    background: var(--primary-color);
    color: #fff;
}

.product .container .box .detail {
    margin-top: 10px;
}

.product .container .home-product-item__name{
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 1.8rem;
    color: var(--primary-color);
    margin: 10px 10px 6px;
    /* để chỉ hiện ra 2 dòng và dấu 3 chấm cuối câu */
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.home-product-item__description {
    font-size: 1.4rem;
    line-height: 1.6rem;
    align-items: center;
    margin: 0 10px 4px;
    height: 3.2rem;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    /* flex-wrap: wrap => nhảy xuống dòng */
}


.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    background-color: var(--primary-red-rgb);
    color: var(--white-color);
    margin-left: 10px;
}

.home-product-item__rating{
    font-size: 1rem;
    transform: scale(1.1);
    transform-origin: right;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
    align-items: center;
}

.home-product-item__star--gold{
    color: var(--star-gold-color);
    font-size: 1.6rem;
}

.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
    color: #595959;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 8px;
}