@import url(../../assets/css/base.css);

.siteuser {
  position: relative;
  height: 60rem;
  background-color: var(--white-color);
}
.siteuser__nav {
  position: absolute;
  top: 5rem;
  left: 5rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.siteuser__forms {
  position: absolute;
  background-color: #f5f5f5;
  left: 25rem;
  height: fit-content;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}
