.siteuser {
  position: relative;
  height: 60rem;
}
.siteuser__nav {
  position: absolute;
  top: 5rem;
  left: 35rem;
  width: fit-content;
  height: fit-content;
}
.siteuser__forms {
  position: absolute;
  background-color: #f5f5f5;
  top: -2rem;
  left: 20rem;
  height: fit-content;
  width: fit-content;
}
