/* @import url('../../../assets/css/base.css');
@import url('../../Header/css/nav.css'); */

.discount__cart-no-discount {
  color: var(--text-color);
  padding-left: 12px;
  font-size: 1.4rem;
  text-align: center;
}

.discount__cart-list {
  z-index: 2;
  background-color: var(--white-color);
  width: 40rem;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  cursor: default;
  animation: fadeIn ease-in 0.2s;
  text-transform: none;
}

.discount__cart-list::before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 4px;
  top: -30px;
  border-width: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.discount__cart-list::after {
  content: "";
  position: absolute;
  top: -12px;
  height: 24px;
  width: 200px;
  display: block;
  /* background-color: #757575; */
}

.discount__cart-heading {
  text-align: left;
  margin: 0.8rem 0 0 1rem;
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
}

.discount__cart-list-item {
  padding-left: 0;
  list-style: none;
  min-height: 5rem;
  max-height: 35rem;
  overflow-y: auto;
  cursor: pointer;
}

.discount__cart-item {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 0 1rem;
  border-bottom: #d9d9d8 1px solid;
}

.discount__cart-item:hover {
  background-color: #f8f8f8;
}

.discount__cart-separation {
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 4px;
}

.discount__cart-img {
  width: 42px !important;
  height: 42px !important;
  border: 1px solid var(--border-color);
  align-items: center;
}

.discount__cart-item-title {
  padding-left: 1rem;
  color: var(--text-color);
  font-weight: 400;
}

.discount__cart-item-info {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
  color: black;
}

.discount__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 12px; */
}

.discount__cart-item-name {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0; /*do thẻ h tự động có margin trên dưới nên bỏ đi*/
  /* ẩn đi khi chữ quá dài */
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.discount__cart-item-percent-wrap {
  display: flex;
}

.discount__cart-item-percent {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.discount__cart-item-multiply {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 4px;
  color: #757575;
}

.discount__cart-item-quantity {
  font-size: 1.2rem;
  font-weight: 400;
  color: #757575;
}

.discount__cart-item-body {
  margin-top: 1rem;
  display: flex;
}

.discount__cart-item-description {
  font-size: 1.2rem;
  color: #757575;
  font-weight: 400;
}

.discount__cart-item-date {
  font-size: 1.4rem;
  color: var(--primary-color);
  font-weight: bold;
}
