/* @import url('../../components/Header/css/nav.css'); */
@import url("../../assets/css/base.css");

.shop__container {
  background-color: var(--white-color);
  height: 60rem;
  padding: 3rem;
  display: flex;
  gap: 4rem;
}

.sidebar-menu {
  list-style: none;
  padding: 10px;
  border: 2px solid var(--primary-red-rgb);
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.sidebar-menu__item {
  padding: 10px;
}

.sidbar-menu__item-link {
  list-style: none;
  padding-left: 0;
  padding: 10px 0;
  height: 3rem;
}

.sidbar-menu__item-link:hover {
  color: var(--primary-red-rgb);
  cursor: pointer;
}

.shop__container-nav {
  display: flex;
  list-style: none;
  border-left: 2px solid #d5d5d5;
  background-color: #f5f5f5;
}

.shop__home {
  border-bottom: 2px solid #d5d5d5;
}

.shop__home-list {
  display: flex;
  list-style: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--primary-red-rgb);
  align-items: center;
  line-height: 60px;
}

.shop__home-item {
  text-decoration: none;
  padding: 0px 20px;
  font-weight: 500;
}
.shop__home-item .shop__home-item-link {
  font-weight: bold;
}
.shop__home-item-link {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.shop__home-item-link#active {
  color: var(--primary-red-rgb);
  border-bottom: 2px solid var(--primary-red-rgb);
}

.shop__menu_container {
  width: 90rem;
}
