/* @import url('../../components/Header/css/nav.css'); */
@import url("../../assets/css/base.css");

.shop__container {
  background-color: var(--white-color);
  height: 60rem;
  padding: 2rem;
  display: flex;
  gap: 4rem;
}

.sidebar-menu {
  list-style: none;
  width: 20rem;
  padding: 10px;
  border: 2px solid var(--primary-red-rgb);
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.sidebar-menu__item {
  padding: 10px;
}

.sidbar-menu__item-link {
  list-style: none;
  padding-left: 0;
  padding: 10px 0;
  height: 3rem;
}

.sidbar-menu__item-link:hover {
  color: var(--primary-red-rgb);
  cursor: pointer;
}

.shop__container-nav {
  list-style: none;
  width: 90rem;
  border-left: 2px solid #d5d5d5;
  background-color: #f5f5f5;
}

.shop__home {
  width: calc(100% - 2px);
  border-bottom: 2px solid #d5d5d5;
}

.shop__home-list {
  display: flex;
  list-style: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--primary-red-rgb);
  align-items: center;
  line-height: 60px;
}

.shop__home-item {
  text-decoration: none;
  padding: 0px 20px;
  font-weight: bold;
}
.shop__home-item .shop__home-item-link {
  font-weight: bold;
}
.shop__home-item-link {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.shop__home-item-link#active {
  color: var(--primary-red-rgb);
  border-bottom: 2px solid var(--primary-red-rgb);
}

.shop__menu_container {
  width: 90rem;
}
.shop__content {
  display: flex;
  padding: 2rem 5rem;
  gap: 3rem;
}
.shop__content--body {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.shop__content--title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.shop__content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  padding-left: 10px;
  font-size: 1.4rem;
  color: #333;
  font-weight: 400;
}
.shop__content-change {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  color: #333;
  font-weight: 400;
}
.shop__content-change#active {
  color: green;
  font-weight: bold;
}
.shop__content-change#inactive {
  color: var(--primary-red-rgb);
  font-weight: bold;
}
.shop__content-text#active {
  color: green;
  font-weight: bold;
}
.shop__content-text#inactive {
  color: var(--primary-red-rgb);
  font-weight: bold;
}
.shop__content--button {
  display: flex;
  padding: 0 1rem;
  gap: 2rem;
}
.shop__button {
  height: 3rem;
  width: fit-content;
  padding: 0 1rem;
}
.shop--change-status {
  width: fit-content;
  padding: 1rem 2rem;
}

.shop--change-status#inactive {
  width: fit-content;
  padding: 1rem 2rem;
  color: whitesmoke;
  background-color: var(--primary-red-rgb);
  border: 1px solid whitesmoke;
}
.shop--change-status#inactive:hover {
  cursor: pointer;
  padding: 1rem 2rem;
  color: var(--primary-red-rgb);
  background-color: whitesmoke;
  border: 1px solid var(--primary-red-rgb);
}
.shop--change-status#active {
  width: fit-content;
  padding: 1rem 2rem;
  color: whitesmoke;
  background-color: green;
  border: 1px solid whitesmoke;
}
.shop--change-status#active:hover {
  cursor: pointer;
  padding: 1rem 2rem;
  color: green;
  background-color: whitesmoke;
  border: 1px solid green;
}
.shop__orders--list {
  display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px;
}
.shop__menu_details {
  width: 100%;
  height: 85%;
}
.shop__promos--type {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  width: fit-content;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
  background-color: white;
}
