.shoporderscard__container {
  margin: 1rem;
  padding: 1rem;
  height: fit-content;
  border: 1px solid var(--primary-color);
}
.shoporderscard__container--title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.shoporderscard__container--content {
  display: grid;
  grid-template-columns: 40rem 20rem;
  gap: 2rem;
}
.card-text {
  font-size: 1.4rem;
}
