.admin-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
}
.admin-login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.auth-form__group {
  margin-top: 0.2rem;
}
.auth-form__btn {
  margin-top: 0.5rem;
}
