.admin__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--primary-color);
  height: 13rem;
  width: 100vw;
}
.admin__nav--link {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}
.admin__nav--logo {
  margin-left: 35rem;
  height: 160px;
}
.admin__nav--title {
  margin-left: 2rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  color: whitesmoke;
}
