:root {
  --primary-color: #5d58a1;
  --red-color: #cb1c22;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
/* RESET CSS */
.header {
  height: var(--header-height);
  /* background-image: linear-gradient(0, #746fbb, #5d58a1 ); */
  /* background-color: #e9393f; */
  /* background-color: var(--red-color); */
  background-color: rgb(196, 67, 53);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none; /*để bỏ các dấu chấm trước thẻ li*/
  padding-left: 0;
  margin: 4px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  align-items: center;
  display: flex;
}

.header__navbar-item-link {
  color: var(--white-color);
  text-decoration: none; /*bỏ gạch chân*/
}

.header__navbar-icon {
  font-size: 1.7rem;
}

.header__navbar-icon-right {
  font-size: 1.7rem;
  font-weight: 300;
  margin-right: 4px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
  color: rgb(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--connect {
  cursor: text;
  color: var(--white-color);
}

.header__navbar-item--bold {
  font-weight: 400;
}

/* đặt vạch ngăn cách shop | kết nối và đăng nhập | đăng ký */
.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fff;
  height: 15px;
  right: -9px;
  top: 63%;
  transform: translateY(-72%);

  /* sử dụng bg-color khi có width và height */
}

/* Đăng nhập, đăng ký khi người dùng đã đăng nhập vào website */

.header__navbar-user {
  display: flex;
  justify-items: center; /*để căng ngang nhau*/
  position: relative;
}

/* di chuột vào tài khoản hiện ra menu */

.header__navbar-user-menu {
  z-index: 3;
  position: absolute;
  list-style: none;
  background-color: var(--white-color);
  top: calc(100% + 6px);
  right: 0;
  width: 160px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding-left: 0;
  border-radius: 2px;
  display: none;
}

/* cầu nối tam giác */
.header__navbar-user-menu::before {
  position: absolute;
  right: 16px;
  top: -30px;
  content: "";
  display: block;
  border-width: 20px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

/* cầu nối ngang */

.header__navbar-user-menu::after {
  position: absolute;
  right: 0;
  top: -12px;
  height: 16px;
  content: "";
  width: 82px;
  display: block;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-item a {
  width: 100%;
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 16px;
  display: block;
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
  background-color: #f8f6f6;
}

.header__navbar-user-img {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  justify-items: center;
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

/* header QR code */
/* khi di chuột vào vào cửa hàng thì qrcode sẽ view ra
để làm điều đó ta sẽ đặt qr code có thuộc tính position: absolute
*/
.header__qr {
  z-index: 3;
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 150%; /* 118% theo video,lề trên của qrcode với lề trên cùng của web*/
  padding: 8px;
  border-radius: 2px;
  display: none; /*ẩn qr khỏi web*/
  animation: fadeIn ease-in 0.8s; /*qr code hiện lên từ từ*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /*tạo viền bóng đêm cho qr code*/
}

/* tạo sultdel element giả */

.header__qr::before {
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
  content: "";
  display: block;
}

/*Viết lớp hover để khi di chuột vào thì hiện ra*/
.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex; /*cho 2 app trên một hàng*/
  justify-content: space-between;
}

.header__qr-link:nth-child(1) {
  margin-left: 11px;
}

.header__qr-lin:nth-child(2) {
  margin-right: 11px;
}

.header__qr-dowload-img {
  height: 15px;
}

/* header notification */

.header__notify {
  z-index: 3;
  position: absolute;
  /* top: 150%; */
  width: 404px;
  background-color: var(--white-color);
  right: 0;
  top: 150%;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  animation: headerNotifyGrowthleft ease-in 0.2s;
  transform-origin: calc(100% - 32px) top; /*form sẽ sinh ra từ phía góc phải và lớn lên từ góc phải qua trái*/
  will-change: opacity, transform; /*thông báo cho trình duyệt biết cái gì thay đổi*/
  /*các trình duyệt sẽ hỗ trợ animation*/
  -webkit-animation: headerNotifyGrowthleft ease-in 0.2s;
  -ms-zoom-animation: headerNotifyGrowthleft ease-in 0.2s;
  -o-animation: headerNotifyGrowthleft ease-in 0.2s;
  -moz-animation: headerNotifyGrowthleft ease-in 0.2s;
}

@keyframes headerNotifyGrowthleft {
  from {
    transform: scale(0); /*độ lớn lên*/
  }
  to {
    transform: scale(1);
  }
}

/* pseuldle element */

.header__notify::before {
  position: absolute;
  right: 16px;
  top: -30px;
  /* width: 100%; */
  /* height: 6px; */
  content: "";
  display: block;
  border-width: 20px 24px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  /* background-color: red; */
}

.header__notify::after {
  content: "";
  position: absolute;
  right: 0;
  top: -16px;
  width: 90px;
  height: 16px;
  display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
  cursor: text;
}

.header__notify-header h3 {
  color: #888;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
}

.header__notify-list {
  max-height: 20rem;
  overflow-y: auto;
  padding-left: 0;
}

.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

/* .header__notify-item--viewed{
    background-color: rgb(238, 75, 43, 0.08);
} */

.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none; /*bỏ gạch chân*/
  background-color: rgb(238, 75, 43, 0.08);
  width: 100%;
}

.header__notify-img {
  width: 48px;
  object-fit: contain; /*thu ảnh lại phù hợp với thẻ*/
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block; /*do thẻ span ko có tính chất block*/
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--black-color);
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #756f6e;
}

.header__notify-footer {
  display: flex;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 16px 24px;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  /* margin: auto;  căng chữ ở giữa*/
}

.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}

.auth-form__heading {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
  cursor: pointer;
}

.auth-form__input {
  width: 339px;
  height: 40px;
  margin-top: 16px;
  width: 100%;
  padding: 0 12px;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  outline: none; /*bỏ đi viền xanh khi nhấn vào ô input*/
}

/* outline mới cho input */
.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 18px;
  padding: 0 12px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.6em;
  text-align: center;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controlls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controlls-back {
  margin-right: 8px;
}

/* SOCIAL CONNECT */

.auth-form__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 16px;
  padding: 12px 36px;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook .auth-form__socials--google {
  color: var(--white-color);
}

.auth-form__socials--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}

.auth-form__socials--google {
  color: #666;
}

.auth-form__socials-title {
  margin: 0 30px;
}

/* LOGIN */
.auth-form__help {
  font-size: 1.2rem;
  line-height: 1.6rem;
  display: flex;
  justify-content: flex-end;
}

.auth-form__heplp-link {
  text-decoration: none;
  color: #939393;
}

.auth-fomr__help-forgot {
  color: var(--primary-color);
}

.auth-form__help-separate {
  border-left: 1px solid var(--border-color);
  height: 16px;
  display: block;
  margin: 0 12px;
}

/* header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
}

/* Một số trình duyệt thì ở đây logo bị gạch chân khi nằm trong thẻ a,
và có border màu xanh xanh xung quanh */
.header__logo-link {
  text-decoration: none;
  color: transparent;
}

.header__logo-img {
  width: 150px;
  color: var(--white-color);
}

.header__search {
  background-color: var(--white-color);
  height: 40px;
  flex: 1; /*tự động kéo dãn vừa với container của nó*/
  border-radius: 2px;
  margin: 0 8px;
  display: flex;
  align-items: center;
}

.header__cart {
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 8px;
}

.header__cart-list {
  z-index: 3;
  background-color: var(--white-color);
  width: 400px;
  top: calc(100% + 11px);
  right: -2px;
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  cursor: default;

  animation: headerNotifyGrowthleft ease-in 0.2s;
  transform-origin: calc(100% - 32px) top;
  -webkit-animation: headerNotifyGrowthleft ease-in 0.2s;
  -ms-zoom-animation: headerNotifyGrowthleft ease-in 0.2s;
  -o-animation: headerNotifyGrowthleft ease-in 0.2s;
  -moz-animation: headerNotifyGrowthleft ease-in 0.2s;
}

/* GIỎ HÀNG KHI CÓ HÀNG */

.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-item {
  padding-left: 0;
  list-style: none;

  /* khi có quá nhiều sản phẩm thì sẽ bị kéo thành bảng dài rất xấu */
  height: 42vh; /*view port height: 56% chiều ngang màn hình*/
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid var(--border-color);
}

.header__cart-item-info {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 12px; */
}

.header__cart-item-name {
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 4rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 0; /*do thẻ h tự động có margin trên dưới nên bỏ đi*/

  /* ẩn đi khi chữ quá dài */
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-item-multiply {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 4px;
  color: #757575;
}

.header__cart-item-quantity {
  font-size: 1.2rem;
  font-weight: 400;
  color: #757575;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
  /* margin-right: 12px; */
}

.header__cart-item-description {
  font-size: 1.2rem;
  color: #757575;
  font-weight: 400;
}

.header__cart-item-remove {
  font-size: 1.2rem;
  color: #757575;
  font-weight: 400;
  cursor: pointer;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
}

.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.header__cart-list::after {
  content: "";
  position: absolute;
  cursor: pointer;
  right: 4px;
  top: -30px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

/* .header__cart-list::before{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    top: -16px;
    width: 15%;
    right: 0;
} */

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-list--no-cart {
  padding: 24px 0;
}

/* Khi có header__cart-list--no-cart thì hiện ra, ngược lại ko */
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header__cart-no-cart-img {
  width: 34%;
  display: none;
}

.header__cart-list-no-cart-msg {
  display: block;
  display: none;
  font-size: 1.4rem;
  color: var(--text-color);
  margin-top: 14px;
}

/* hiện số hàng trong giỏ hàng hiện có */
.header__cart-notice {
  background-color: var(--white-color);
  color: var(--primary-red-rgb);
  font-size: 1.4rem;
  position: absolute;
  line-height: 1.4rem;
  padding: 2px 8px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  top: -12px;
  right: -8px;
  /* top: 5px;
    right: 56px;
    background-color: pink; */
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  /* color: var(--black-color); */
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 3px;
}

.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: #a5a4a4;
  margin: 0 16px 0 8px;
  font-weight: 200;
  /* khi icon nằm lệch trên hoặc dưới để cho icon nằm thẳng dòng */
  position: relative;
  top: 2px;
}

.header__search-btn {
  height: 34px;
  background-color: var(--primary-red-rgb);
  border: none;
  border-radius: 3px;
  margin-right: 3px;
  outline: none;
}

.header__search-btn:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.header__search-btn-icon {
  color: var(--white-color);
  padding: 0 16px;
  font-size: 1.4rem;
}

/* viết lớp hover để khi di chuột vào hiện ra */
.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-option {
  z-index: 3;
  position: absolute;
  list-style: none;
  right: 0;
  top: calc(100% - 1px);
  margin-top: 16px;
  width: 130px;
  padding-left: 0;
  border-radius: 3px;
  background-color: var(--white-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  /*để ẩn đi và hiện ra khi di chuột vào select*/
}

/* tạo pseudel element giả làm cầu nối */
.header__search-option::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -18px;
}

.header__search-option-item {
  padding: 8px 8px;
}

.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 0 0 8px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

/* search history */

.header__search-history {
  position: absolute;
  width: calc(100% - 16px);
  top: calc(100% + 10%);
  left: 0;
  background-color: var(--white-color);
  color: var(--text-color);
  font-size: 1.4rem;
  list-style: none;
  border: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: none;
  overflow: hidden;
  z-index: 3;
}

.header__search-history-heading {
  color: #999;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 8px 12px;
}

.header__search-history-list {
  list-style: none;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 6px;
  cursor: pointer;
}

.header__search-history-item {
  padding: 0 12px;
  height: 38px;
  width: 100%;
  align-items: center;
}

/* .header__search-history-item:last-child{
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
} */

.header__search-history-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 38px;
  display: block;
}

.header__search-history-item:hover {
  background-color: #edeaea;
}

/* cách 1 */
/* .header__search-history::before{
    content: "";
    position: absolute;
    top: -8px;
    height: 12px;
    display: block;
    width: 100%;
}

.header__search-input-wrap:hover .header__search-history{
    display: block;
} */

/* cách 2: focus trực tiếp vào ô input thì lịch sử mới hiện ra */

.header__search-input:focus ~ .header__search-history {
  display: block;
}

/* ----------------------------------------------------------------------
------------------------------------------------------------------------- */
/* PHẦN MENU THANH CHỌN DI CHUYỂN GIỮA CÁC PAGE */

.header__menu {
  /* padding: 20px 30px; */
  height: 60px;
  /* display: flex; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
  /* justify-content: space-between; */
  border-bottom: 1px solid var(--primary-red-rgb);
  behavior: scroll;
  position: sticky;
  z-index: 2;
  width: 100%;
  top: 0;
  background-color: white;
}

.header__menu .header__menu_container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu .header__menu_container .nav__home {
  /* justify-content: space-between; */
  align-items: center;
  display: flex;
}

.header__menu .header__menu_container .nav__home-list {
  list-style: none;
  display: flex;
}

.header__menu .header__menu_container .nav__home-item {
  line-height: 60px;
  transition: 0.5s;
}

.header__menu .header__menu_container .nav__home-item-link {
  /* color: var(--primary-color); */
  color: var(--red-color);
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  padding: 0 30px;
  font-weight: 550;
  text-transform: uppercase;
  position: relative;
}

.nav__home-item-link {
  display: block;
}

.header__menu
  .header__menu_container
  .nav__home-item:hover
  .nav__home-item-link {
  /* background-color: #948ee2; */
  cursor: pointer;
  /* color: white; */
}

/* PHẦN LINE Ở DƯỚI MENU */
.nav__home-item-link::after {
  background: var(--red-color);
  content: "";
  position: absolute;
  height: 4px;
  bottom: 0;
  width: 0;
  transition: all 0.3s ease 0s;
  /* background: var(--primary-color); */
  border-radius: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav__home-list .nav__home-item:hover .nav__home-item-link::after {
  width: 100%;
  transform: 0.3s;
}

.active {
  background-color: rgba(125, 15, 52, 0.1);
  border-bottom: 5px solid var(--red-rgb-color);
  /* background-color: rgb(233, 127, 130); */
  color: #fff;
}

.header__menu .header__menu_container .auth {
  line-height: 60px;
  margin-right: 20px;
  align-items: center;
  height: 60px;
  justify-content: center;
  margin: auto 0;
}

.header__menu .header__menu_container .auth button {
  margin-right: 20px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
}
