.navAuth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14rem;
  padding: 0 35rem;
  background-color: var(--primary-color);
}
.navAuth--toHome {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.navAuth--info {
  background-color: var(--primary-color);
  text-decoration: none;
  margin-left: 3rem;
  font-size: 2.5rem;
  color: whitesmoke;
}
.navAuth--logo {
  position: relative;
  top: 1.5rem;
  width: 17rem;
}
